[buildout]
develop = .
extends =
    https://raw.githubusercontent.com/plock/pins/master/plone-4-3
    https://raw.githubusercontent.com/plock/pins/master/dev

parts += database_url

[database_url]
recipe = collective.recipe.database_url
